#widget-toolbar {

    .dg {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
    }

    .widgetcontrols {
        width: 24px;
        height: 150px;
        position: fixed;
        padding: 1px;
        top:300px;
        left:33px;
    }

    .w1 {
        height: 24px;
        width: 24px;
        margin: 1px;
        padding: 1px;
    }
    
}
